#head1 {
  background-color: #C60F7B;
  color: #E5ECE9;
  font-size: 2em;
  font-weight: 800;
  font-size: 4em;
  padding:0px;
}


h2 {
	font-size: 25px;
	font-weight: bold;
	color: #C60F7B;
	text-transform: capitalize;
	text-align: center;

}


.content {
	font-size: 20px;
	font-weight: bold;
	color: #0000b3;
	padding: 1px;

}

.navzone {
	color: #C60F7B;
	font-size:1.2em;

}

#tehlulz {
	color: #545654;
	list-style-type: upper-roman;
}

.prose {
	text-align: center;
	color: #545654;
	text-indent: 10px;

}

.extreme {
	text-align: center;
	color: #00004d;
	font-size: 10px;
  	margin: auto;
  	text-align: center;
  	text-transform: capitalize;
}